@model UserManagement.Web.Models.Users.UserViewModel

<h2>View User</h2>

<div class="row">
    <div class="col-md-6">
        <dl class="row">
            <dt class="col-sm-4">ID</dt>
            <dd class="col-sm-8">@Model.Id</dd>
            <dt class="col-sm-4">Forename</dt>
            <dd class="col-sm-8">@Model.Forename</dd>
            <dt class="col-sm-4">Surname</dt>
            <dd class="col-sm-8">@Model.Surname</dd>
            <dt class="col-sm-4">Email</dt>
            <dd class="col-sm-8">@Model.Email</dd>
            <dt class="col-sm-4">Date of Birth</dt>
            <dd class="col-sm-8">@(Model.DateOfBirth?.ToString("yyyy-MM-dd"))</dd>
            <dt class="col-sm-4">Active</dt>
            <dd class="col-sm-8">@(Model.IsActive ? "Yes" : "No")</dd>
        </dl>
        <div>
            <a asp-action="List" class="btn btn-secondary">Back to List</a>
        </div>
    </div>
</div>
